body {
  border: 2px outset #DDDDDD;
  font-family: 'Helvetica', sans-serif;
}

#myCanvas {
  background-color: #fff;
  margin-bottom: 5px;
}
hr {
margin-left: 25%;
  width: 50%;
  margin-top: 0;
}
h2 {
  padding-top: 2%;
  margin: 0;
}
table {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;

  text-align: center;
}
input {
  margin-left: 5px;
}
#canvasImg {
  width: 500px;
  /* height: 100%; */
}

.header {
  position:absolute;
  width: 100%;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.btn {
  margin-right: 10px;
}

#saveArea {
  text-align: center;
  margin-bottom: 2%;
}
